<div class="addpost-wrap">
  <div id="cross"><%=link_to image_tag("cancel.png"), root_path %></div>

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="addpost-form">
      <p><%= f.email_field :email, :id=> "title", autofocus: true, :placeholder=> "Email", autocomplete: "email" %></p>

      <% if @minimum_password_length %>
        <em id="password_length">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <p><%= f.password_field :password, :id=> "image", :placeholder=> "Password", autocomplete: "new-password" %></p>

      <p><%= f.password_field :password_confirmation, :id=> "tags", :placeholder=>"Confirm password", autocomplete: "new-password" %></p>

      <div class="actions">
        <p><%= f.submit "Sign up", :id=> "submit" %></p>
      </div>
  <% end %>

  </div>
  <%= render "devise/shared/links" %>

</div>