<div class="addpost-wrap">
  <div id="cross"><%=link_to image_tag("cancel.png"), post_path %></div>

  <h2>Edit Post</h2>
<%= form_with(model: post, local: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="addpost-form">
    <p>
      <%= f.text_field :title, :id=> "title", :placeholder=> "Title"%>
    </p>

    <p>
      <%= f.text_field :img, :id=> "image", :placeholder=> "Image URL" %>
    </p>

    <p>
      <%= f.text_field :all_tags, :id=> "tags", :placeholder=> "All tags" %>
    </p>

    <p>
      <%= f.submit :id=> "submit" %>
    </p>
  </div>
<% end %>

</div>