<tr align="center">
	<td style="width:30%"><%= link_to post do %><%= post.title %><% end %></td>
	<td style="width:30%">Created by: 
		<% if post.user%>
			<%= post.user.email %>
		<% else %>
			anonymous
		<% end %>
		
	</td>
	<td style="width:30%"><%= link_to post do %><img src="<%= post.img %>" width="100px" height="100px"/><% end %></td>
</tr>