<div class="welcome">
  <h1>Welcome to Meme Browser</h1><br>
  <%= link_to 'New Post', new_post_path%>
</div>

<!--
params[:search] - used for keeping the search term in the field after a search
name: nil - used for eliminate the "commit=Search" in the URL after a search
 -->
<h3>Search for memes</h3>
<%= form_tag(posts_path, method: :get) do %>

	<%= text_field_tag :tag, params[:tag], autofocus: true, :required => 'required' %>
	<%= submit_tag 'Search', name: nil %>
<% end %>
</br>

<div class="content-posts">
  <%= render 'show_posts_table' %>
</div>