<center><h1>Welcome to Meme Browser</h1>
<%= link_to 'New Post', new_post_path %>
<% if user_signed_in? %>
	<p>You are signed in as <%= current_user.email %> </p>
	<p><%= link_to 'sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
	<p>Hey, you should sign up to add posts in your name: <%= link_to 'sign up', new_user_registration_path %></p>
	<p>Or... Sign in if you are already registered: <%= link_to 'sign in', new_user_session_path %></p> 
<% end %>
</center>

<table style="width:100%">
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @posts.each do |post| %>
<tr align="center">
	<td style="width:30%"><%= link_to post do %><%= post.title %><% end %></td>
	<td style="width:30%">Created by: 
		<% if post.user%>
			<%= post.user.email %>
		<% else %>
			anonymous
		<% end %>
		
	</td>
	<td style="width:30%"><%= link_to post do %><img src="<%= post.img %>" width="100px" height="100px"/><% end %></td>
</tr>
<% end %>
</table>
