<center><h1>Welcome to Meme Browser</h1></center>
<%= link_to 'New Post', new_post_path %>
<table style="width:100%">
	<tr>
		<th>Title</th>
		<th>Image</th>
	</tr>
<% @posts.each do |post| %>
<tr align="center">
	<td style="width:50%"><%= link_to post do %><%= post.title %><% end %></td>
	
	<td style="width:50%"><%= link_to post do %><img src="<%= post.img %>" width="100px" height="100px"/><% end %></td>
	
	<!-- <td style="width:50%"><%= link_to image_tag(post.img), post %> </td> -->
</tr>
<% end %>
</table>
