<center><h1>Welcome to Meme Browser</h1>
<form action="/posts/new">
    <input type="submit" value="New Post" />
</form>

<p id="notice"><%= notice %></p>

<% if current_user %>
	Logged in as <%= current_user.email %>.
	<%= link_to 'Log Out', logout_path %>
<%else %>
	<%= link_to 'Sign Up', signup_path %> or 
  	<%= link_to 'Log In', login_path %>
<% end %>

</center>

<table style="width:100%">
	<tr>
		<th>Title</th>
		<th>Image</th>
	</tr>
<% @posts.each do |post| %>
<tr align="center">
	<td style="width:50%"><%= post.title %></td>
	<td style="width:50%"><img src="<%= post.img %>" width="100px" height="100px"/> </td>
<% end %>
</table>