<center><h1>Welcome to Meme Browser</h1>
<%= link_to 'New Post', new_post_path %>
<% if user_signed_in? %>
	<p>You are signed in as <%= current_user.email %> </p>
	<p><%= link_to 'my posts', profile_index_path %> </p>
	<p><%= link_to 'sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
	<p>Hey, you should sign up to add posts in your name: <%= link_to 'sign up', new_user_registration_path %></p>
	<p>Or... Sign in if you are already registered: <%= link_to 'sign in', new_user_session_path %></p> 
<% end %>
</center>

<%= render 'show_posts_table' %>
