<center><h1>Welcome to Meme Browser</h1></center>
<%= link_to 'New Post', new_post_path %>
<table style="width:100%">
	<tr>
		<th>Title</th>
		<th>Image</th>
	</tr>
<% @posts.each do |post| %>
<tr align="center">
	<td style="width:20%"><%= post.title %></td>
	<td style="width:40%"><img src="<%= post.img %>" width="100px" height="100px"/> </td>
	<td style="width:30%"><%= post.all_tags %></td>
	<td style="width:10%"><%= link_to 'Show', post %></td>
</tr>
<% end %>
</table>
