<h1>Add Post</h1>
<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :img %><br>
		<%= f.text_field :img %>
	</p>

	<p>
		<%= f.label :all_tags %><br>
		<%= f.text_field :all_tags %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>