<h2><%= @post.title %></h2>
<img src="<%= @post.img %>" width="400px" height="400px"/> 
<h3>Tags: <%= @post.all_tags %></h3>

<br>
<%= link_to 'Edit', edit_post_path(@post) %> | 
<%= link_to 'Back', posts_path %> 
<p><%= link_to "Delete", post_path(@post),
         :data => {:confirm => "You sure?",
                   :method => "delete"} %>
                                   	
</p>