<h2><%= @post.title %></h2>
<img src="<%= @post.img %>" width="400px" height="400px"/> <br/>
<small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>
<h4>Tags: <%= raw tag_links(@post.all_tags) %></h4>

<br>
<%= link_to 'Edit', edit_post_path(@post) %> | 
<%= link_to 'Back', posts_path %> 
<p><%= link_to "Delete", post_path(@post),
         :data => {:confirm => "You sure?",
                   :method => "delete"} %>
                                   	
</p>

<h3>Comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit %>
<% end %>

<ul style="list-style-type:none">
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>