<!DOCTYPE html>
<html>
  <head>
    <title>MemeBrowser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul class="nav-menu" role="navigation">
      <li><%=link_to image_tag("meme-icon_small.png"), root_path%></li>
      <li class="site-name"><p>MemeBrowser</p></li>
      <li class="meme-search">
        <%= form_tag(posts_path, method: :get) do %>
          <%= text_field_tag :tag, params[:tag], placeholder: "Search for memes", :id=>"searchField" %>
          <%= submit_tag 'Submit', name: nil, :id=>"searchBtn" %>
        <% end %></li>

      <% if user_signed_in? %>
        <%=image_tag("post-it.png") %><li id="signin"><%= link_to 'my posts', profile_index_path %> </li>
        <%=image_tag("reg3.png") %><li id="signup"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <%=image_tag("login.png") %><li id="signin"><%= link_to 'login', new_user_session_path %></li>
        <%=image_tag("reg3.png") %><li id="signup"><%= link_to 'sign up', new_user_registration_path %> </li>
      <% end %>

    </ul>
  </header>
  <% if notice -%>
    <script>
      swal({
          title: "Success",
          text: '<%= notice %>',
          type: 'success',
          showConfirmButton: false,
          timer: 2000
      });
    </script>
  <% end %>

  <% if alert -%>
    <script>
        swal({
            title: 'Error',
            text: '<%= alert %>',
            type: 'error',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
  <% end %>


   <%= yield %>
  </body>


</html>


